<script src=/remove.js></script>
<script src=/searchbar.js></script>
<footer>
    <ul>
        <li><img class="icon" src="../../static/images/love_48px.png" alt="like"></li>
        <li><img class="icon" src="../../static/images/multiply_48px.png" alt="dislike"></li>
    </ul>
</footer>