<nav>
    <ul>
        <li>
            <a href="/home">
                <img src="/images/home.png" alt="home" class="nav">
            </a>
        </li>

        <li>
            <a href="#searchInterests">
                <img src="/images/search.png" alt="search" class="nav">
            </a>
        </li>

        <li>
            <a href="/myprofile">
                <img src="/images/profile.png" alt="profile" class="nav">
            </a>
        </li>
    </ul>
</nav>