<ul>
    <li><img class="icon" src="../../static/images/chat_52px.png" alt=""></li>
    <li><img class="icon" src="../../static/images/home_48px.png" alt=""></li>
    <li><img class="icon" src="../../static/images/user_60px.png" alt=""></li>
</ul>