<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Welcome</title>
</head>

<body>
    <main>
        <form id="login">
            <img src="../public/imgs/logo.png" alt="">
            <fieldset>
                <legend>Festiv</legend>
                <input type="email" id="email" placeholder="Email">
                <input type="password" id="psswrd" placeholder="Password">
                <input type="submit" value="Login">
                <a href="/register">Create a new account</a>
            </fieldset>
            
        </form>
    </main>
    <script>
        const form = document.getElementById('login');
        form.addEventListener('submit', loginUser);

        async function loginUser(event) {
            event.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('psswrd').value;

            const result = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email,
                    password
                })
            }).then(res => res.json())

            if (result.status === 'ok') {
                // everythign went fine
                console.log('got the token', result.data)
                console.log('succes')
            } else {
                console.log(result.error)
            }
        };</script>
</body>

</html>