<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Welcome</title>
</head>

<body>
    <main>
        <form id="login">
            <img src="../static/images/logo.png" alt="">
            <fieldset>
                <legend>Festiv</legend>
                <input type="email" id="email" placeholder="Email">
                <input type="password" id="psswrd" placeholder="Password">
                <input type="submit" value="Login">
                <button id="switch">Create Account</button>
            </fieldset>
            
        </form>
    </main>
    <script src="../static/loginhandler.js"></script>
</body>

</html>