<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='../static/style.css'>
    <title>Welcome</title>
</head>

<body>
    <main>
        <form id='login'>
            <img src="../static/images/logo.png" alt="">
            <fieldset>
                <legend>Festiv</legend>
                <input type="email" id="email" placeholder="Email">
                <input type="password" id="psswrd" placeholder="Password">
                <input type="submit" value="Login">
                <button id="switch">Create Account</button>
            </fieldset>
            
        </form>
    </main>
    <script>
        const form = document.getElementById('login')
        const btn = document.getElementById('switch')
        
        form.addEventListener('submit', loginUser)
        btn.addEventListener('click', createAccount)

        function createAccount() {
            location.href = '/register';
        }

        async function loginUser(event) {
            event.preventDefault()
            const email = document.getElementById('email').value
            const password = document.getElementById('psswrd').value

            const result = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email,
                    password
                })
            }).then(res => res.json())

            if (result.status === 'ok') {
                // everythign went fine
                location.href= '/home';
                console.log('got the token', result.data)
                console.log('succes')
                console.log(email)
            } else {
                console.log(result.error)
            }
        }
        </script>
</body>

</html>