<title>Festiv</title>
<body>
    <%- include ('partials/header.ejs') -%>
    <main class="container">
        <%users.forEach(user => { %>
            <h1>You've got a match with !</h1>
            <a href="/home"><button type="button" class="keepswiping">Keep swiping</button></a>
            </section>
        <% }) %>
    </main>     
    <%- include ('partials/nav.ejs') -%>
</body>
