<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='../static/style.css'>
    <title>Document</title>
</head>

<body>
    <form id='register_user' action='/register' method='POST'>
        <img src='../static/images/logo.png' alt='App logo'>
        <fieldset>
            <legend>Festiv</legend>
            <input type='text' id='fstnm' placeholder='First name' name='fstnm' required>
            <input type='text' id='lstnm' placeholder='Last name' name='lstnm' required>
            <input type='email' id='email' placeholder="Email" name='email' required>
            <input type='password' id='psswrd' placeholder='Password' name='psswrd' required>
            <!-- <input type="password" id="cnfrm_psswrd" placeholder="Confirm password" required> -->
            <input type='submit' value="Create acount">
            <button id='switch'>Back to login</button>
        </fieldset>
    </form>
<script src="../static/registerhandler.js"></script>
</body>

</html>