<%- include ('partials/header.ejs') -%>
<title>TwoHearts - register and login</title>
<h1>Register and login</h1>

<div class="formContainer">
    <form action="/myprofile" method="POST" enctype="multipart/form-data">
        
        <label class="label"> Profile picture </label>
        <input class="input" id="inputIMG" name=profilepicture type="file" accept="image/*" required>
    
        <label class="label"> Name </label>
        <input class="input" type="text" name=name required> 
        
    
        <label class="label"> Age </label>
        <input class="input" type="text" name=age required>
        
    
        <label class="label"> Bio  </label>
        <textarea class="textarea" type="text" name=bio rows="2" cols="50" placeholder="e.g. looking for a travelbuddy"></textarea>
    
        <label class="label"> Interests  </label>
        <textarea class="textarea" type="text" name=interests rows="2" cols="50" placeholder="e.g. travel, dogs"></textarea>
    
        <button class="updateBTN" type="submit">Register and login</button>
    
    </form>
    </div>
