*{
    font-family: 'Poppins', sans-serif;

}

html {
    /* https://stackoverflow.com/questions/16841323/making-gradient-background-fill-page-with-css/16841457 */
    background-image: linear-gradient(#F4AD5B, #E44B91);
    background-repeat: no-repeat;
}

body {
    margin: 0em;
    padding: 0em;
   overflow-y: hidden;
}


#login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    /* background: #7067AE; */
}

img {
    height: 20em;
    width: auto;
}

fieldset {
    display: grid;
    border: none;
    justify-content: center;
}

legend {
    color: #FFFFFF;
   font-size: 24px;
   margin-bottom: 5px;
}

fieldset:nth-of-type(2) {
    display: none;
}

input {
    display: block;
}

input[type="text"], input[type="password"], input[type="email"]{
    background-color: rgba(255, 255, 255, .4);
    border: none;
    height: 2.1em;
    margin-bottom: 10px;
    padding-left: 10px;
}

::placeholder {
    color: #000000;
}

input[type="submit"], #switch {
    width: 15em;
    margin-top: 15px;
    height: 3em;
    border-radius: 20px;
    /* box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25); */
    color: #FFFFFF;
}

input[type="submit"] {
    background: #7067AE;
    border: none;
}

#switch {
    border-width: 1px;
    border-color: #FFFFFF;
    background: rgba(0, 0, 0, 0);
    border-style: solid ;
}


/*********************
    NAVIGATION BAR
**********************/

ul {
    display: flex;
    border-radius: 20px 20px 0px 0px;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F2F2F2;
}

ul>li {
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
    float: none;
    margin: 1em;
}

.icon {
    width: 30px;
    height: 30px;
}


/*****************
    PAGE TITLE
******************/
h1{
    color: #000000;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

/*********************
    RESPONSIVE GRID
**********************/

/***************
    SEARCHBAR
****************/
#searchBar {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search{
    display: block;
    margin: 2em auto 4em auto;
    width: 358px;
    height: 4em;
    padding: 10px;
    border-radius: 5px;
    border-width: 3px;
    background-color: #FFFFFF;
    /* background: url(./images/search_48px.png) no-repeat ;
    padding-left: 50px; */
}

input:focus{
    border: 2px solid #7067AE;
}

/********************
    USERS STYLING
*********************/
main {
    box-sizing: content-box;
    display: flex;
    /* position: absolute; */
    flex-flow: nowrap;
    /* justify-content: space-around; */
    /* width: 100%; */
    height: 100%;
    overflow-x: scroll;
    /* scrollbar-width: none; */
}

main>section {
    box-sizing: content-box;
    margin-left: 1em;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: auto;
    height: 486px;
}

section>img {
    display: block;
    width: 370px;
    height: 76%;
    border-radius: 5px 5px 0px 0px;
}

main>section>p {
    margin-left: 2%;
    color: #828282;
}

h2 {
    margin-left: 2%;
}
/***********************
    FOOTER STYLING
***********************/
footer {
    position: fixed;
    bottom: 8em;
    background-color: rgba(0, 0, 0, 0.0);
    height: 100px;
}

footer>ul {
    box-sizing: unset;
    display: table;
    width: 100%;
    bottom: unset;
    background-color: unset;
}

footer>ul>li>img {
    box-sizing: unset;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/***********************
    EDIT FORM STYLING
************************/
.formContainer{
    display: flex;
    justify-content: center;
}


.label{
    display: block;
    margin: 0 0 0 0;

}

.input{
    width: 100%;
    border: 1px solid #484E5D;
    margin: 0 0 1em 0;
    padding: 5px;
}

#inputIMG{
    border-style: none
    
}

.textarea{
    resize: none;
    border: 1px solid #484E5D;
    margin: 0 0 0 0;
    padding: 5px;
    width: 100%;
}

.cancel{
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.updateBTN{
    margin: 2em 0 2em 0;
}

.cancelBTN, .updateBTN{
    width: 100%;
    background: #484E5D;
    color: #fff;
    font-size: 1em;
    
}

