*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html {
    height: 100%;
    /* https://stackoverflow.com/questions/16841323/making-gradient-background-fill-page-with-css/16841457 */
    background-image: linear-gradient(#F4AD5B, #E44B91);
    background-repeat: no-repeat;
}

/* main {
    display: flex;
    justify-content: center;
} */

form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    /* background: #7067AE; */
}

img {
    height: 20em;
    width: auto;
}

fieldset {
    display: grid;
    border: none;
    justify-content: center;
}

legend {
    color: #FFFFFF;
   font-size: 24px;
   margin-bottom: 5px;
}

fieldset:nth-of-type(2) {
    display: none;
}

input {
    display: block;
}

input[type="text"], input[type="password"], input[type="email"]{
    background-color: rgba(255, 255, 255, .4);
    border: none;
    height: 2.1em;
    margin-bottom: 10px;
    padding-left: 10px;
}

::placeholder {
    color: #000000;
}

input[type="submit"], #switch {
    width: 15em;
    margin-top: 15px;
    height: 3em;
    border-radius: 20px;
    /* box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25); */
    color: #FFFFFF;
}

input[type="submit"] {
    background: #7067AE;
    border: none;
}

#switch {
    border-width: 1px;
    border-color: #FFFFFF;
    background: rgba(0, 0, 0, 0);
    border-style: solid ;
}



body{
    background-image: linear-gradient(#F4AD5B, #E44B91)
}

/*********************
    NAVIGATION BAR
**********************/

ul{
    list-style-type: none;
    display: flex;
    /* justify-content: center; */
    max-width: 50%;
    height: 10%;
    margin: 2em auto 0 auto;
}

li{
    margin: 0 auto;
    
}

.nav{
    max-height: 3em;
}



/*****************
    PAGE TITLE
******************/
h1{
    color: #000000;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

/*********************
    RESPONSIVE GRID
**********************/
#container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: 1.5em;
    justify-items: center;
}

.user{
    border-radius: 5%;
    background-color: #FFFFFF;
    max-width: 15em;
    height: 100%;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .3);
    padding: 24px;
}

/***************
    SEARCHBAR
****************/
#search{
    display: block;
    margin: 0 auto 4em auto;
    width: 50%;
    height: 4em;
    padding: 10px;
    border-radius: 3rem;
    border-color: #000000;
    border-width: 3px;
    border-style: solid;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, .3);
    ;
}

/********************
    USERS STYLING
*********************/
.profileIMG{
    display: block;
    max-width: 100%;
    margin: 0 auto 0 auto;
}


.linkProfile{
    text-decoration: none;
    color: #000000;
}


.username::first-letter{
    text-transform: uppercase;
}

.username{
    color: #000000;
    font-size: 1.2em;
}

.genre{
    font-size: 0.8em;
    color: #828282;
}

.likeDislike{
    display:flex ;
    justify-content: center ;
    vertical-align: top;
    align-items: center;
}

.likeDislikeBTN{
    margin: 1em auto 0 auto;
    background-color: transparent;
    border: none;
}

.likeDislikeIMG{
    width: 3em;
}

.interestsContainer{
   display: inline-grid;
   grid-template-rows: 1fr;

}


.interestsContainer p{
    font-size: 0.8em;
    margin: 0 .5em 1em 0;
    border-radius: 5%;
    border: 1px solid #fff;
    width: auto;
    padding: 0 5px 0 5px;
}


/*********************
    PROFILE STYLING
**********************/
.profileContainer{
    border-radius: 5%;
    background-color: #CCD0D7;
    width: 408px;
    height: 100%;
    box-shadow: 5px 5px 5px #E9E9E9;
    padding: 24px;
    margin: 0 auto 0 auto;
}

#profilePicture{
    max-width: 100%;
    display: block;
    margin: 0 auto 0 auto;
}

.interestsProfile{
    width: 360px;
}

.editBTN, .deleteBTN{
    width: 100%;
    background: #484E5D;
    color: #fff;
    font-size: 1em;
    margin-top: 2em;
}

.edit, .delete{
    text-align: center;
    text-decoration: none;
    color: #fff;
}


/***********************
    EDIT FORM STYLING
************************/
.formContainer{
    display: flex;
    justify-content: center;
}


.label{
    display: block;
    margin: 0 0 0 0;

}

.input{
    width: 100%;
    border: 1px solid #484E5D;
    margin: 0 0 1em 0;
    padding: 5px;
}

#inputIMG{
    border-style: none
    
}

.textarea{
    resize: none;
    border: 1px solid #484E5D;
    margin: 0 0 0 0;
    padding: 5px;
    width: 100%;
}

.cancel{
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.updateBTN{
    margin: 2em 0 2em 0;
}

.cancelBTN, .updateBTN{
    width: 100%;
    background: #484E5D;
    color: #fff;
    font-size: 1em;
    
}

